import os.path
import rand as rand
import numpy as np
import Login
print("Welcome to the Fidelitas Bank")
print()
archivo= open("FidebankLogbook.txt","w")
usuario = "estudiante123"
contrasena = "fide123"
for i in range ( 3 ):
    user = input ( "Please enter the User to access: " )
    entrada = input ( "Please enter the password to access: " )
    if entrada != contrasena or user != usuario:
        print()
        print("Incorrect access information, Try again")
        archivo.write ( usuario + "\n" )
        archivo.write ( contrasena + "\n" )
    if entrada == contrasena and user == usuario:
        break

if entrada == contrasena:
    print()
    print ( "Welcome to Fidelitas Bank" )
    with open ( "Data FideBank .txt" ) as data123:
        lectura = data123.read()
        print(lectura)

    while True:
        print ( "1) SINPE Transfer" )
        print ( "2) Phone Top-Up" )
        print ( "3) Deposit" )
        print ( "4) Balance" )
        print ( "5) Ahorcado")
        print ( "6) Quit" )
        print ()
        choice = input ( "Enter your Choice: " )
        balance = 17800.42

        if choice == "1":
            print ()
            phone = input ( "Enter The Cell Phone Number: " )
            phoneamount = float ( input ( "Select the amount you want to transfer: $" ) )
            print()
            print("-------Successful SINPE Transaction-------")
            print("Your confirmation code is:")
            print ( np.random.randint ( 50, 90, 5 ) )
            print()
            break
        elif choice== "2":
            print ()
            cellphone = input ( "Enter The Cell Phone Number: " )
            phoneamount = float ( input ( "Select the amount you want to recharge: $" ) )
            print ()
            print ( "-------Successful Top-Up to the phone number",cellphone,"-------")
            print ( "Your confirmation code is:" )
            print ( np.random.randint ( 50, 90, 5 ) )
            print ()
            break
        elif choice== "3":
            print ()
            newbalance= float ( input ( "Select the amount you want to Deposit: $" ) )
            print ()
            print ( "-------Successful Deposit, The new balance is $",newbalance + balance,"-------")
            print ( "Your confirmation code is:" )
            print ( np.random.randint ( 50, 90, 5 ) )
            print ()
            break
        elif choice== "4":
            print ()
            print ( "-------Your balance is $",balance,"-------")
            print ( "Your confirmation code is:" )
            print ( np.random.randint ( 50, 90, 5 ) )
            print ()
            break
        elif choice== "5":

            break
        elif choice== "6":
            print ()
            print ( "-------Thank you for being part of FideBank, have a good day-------")
            print ()
            break
else:
    print()
    print ( "Incorrect access information, Maximum attempts reached, Blocked account" )

archivo.close()
