############################# CODIGO FRONTEND ################################
import os.path
import rand as rand
import numpy as np
import Login
import Menu
import Intentos
print("Welcome to the Fidelitas Bank")
print()
archivo= open("FidebankLogbook.txt","w")
usuario = "estudiante123"
contrasena = "fide123"
bandera =0
Intentos.ATTEMPTS()
   #####################################################################
   ############################# CODIGO LOGIN ################################
from datetime import datetime
curDT = datetime.now()
day = curDT.strftime("%d")
month = curDT.strftime("%m")
year = curDT.strftime("%Y")
time = curDT.strftime("%H:%M:%S")
date_time = curDT.strftime("%m/%d/%Y, %H:%M:%S")
def log():
    archivo = open ( "FidebankLogbook.txt", "w" )
    usuario = "estudiante123"
    contrasena = "fide123"
    user = input ( "Please enter the User to access: " )
    entrada = input ( "Please enter the password to access: " )
    archivo.write ( user +"\n" )
    archivo.write ( entrada +"\n" )
    archivo.write (date_time)
    if entrada != contrasena or user != usuario:
        print()
        print("Incorrect access information, Try again")
        return False
    else:
        return True
##########################################################################################################################################
############################# CODIGO MENU ################################  
import numpy as np
import Login
from datetime import datetime
curDT = datetime.now()
day = curDT.strftime("%d")
month = curDT.strftime("%m")
year = curDT.strftime("%Y")
time = curDT.strftime("%H:%M:%S")
date_time = curDT.strftime("%m/%d/%Y, %H:%M:%S")
archivo = open ( "FidebankLogbook.txt", "w" )
array = np.random.randint ( 10, size=(2, 3) )
def Menu():
    global choice
    choice = ""
    while choice != "6":
        print ( "1) SINPE Transfer" )
        print ( "2) Phone Top-Up" )
        print ( "3) Deposit" )
        print ( "4) Balance" )
        print ( "5) Ahorcado" )
        print ( "6) Quit" )
        print ()
        choice = input ( "Enter your Choice: " )
        balance = 17800.42
        if choice == "1":
            print ()
            phone = input ( "Enter The Cell Phone Number: " )
            phoneamount = float ( input ( "Select the amount you want to transfer: $" ) )
            print ()
            print ( "-------Successful SINPE Transaction-------" )
            print ( "Your confirmation code is:" )
            print ( array )
            print ()
            print ( "Type 6 for exit" )

        elif choice == "2":
            print ()
            cellphone = input ( "Enter The Cell Phone Number: " )
            phoneamount = float ( input ( "Select the amount you want to recharge: $" ) )
            print ()
            print ( "-------Successful Top-Up to the phone number", cellphone, "-------" )
            print ( "Your confirmation code is:" )
            print ( array )
            print ()
            print ( "Type 6 for exit" )

        elif choice == "3":
            print ()
            newbalance = float ( input ( "Select the amount you want to Deposit: $" ) )
            print ()
            print ( "-------Successful Deposit, The new balance is $", newbalance + balance, "-------" )
            print ( "Your confirmation code is:" )
            print ( array )
            print ()
            print ( "Type 6 for exit" )

        elif choice == "4":
            print ()
            print ( "-------Your balance is $", balance, "-------" )
            print ( "Your confirmation code is:" )
            print ( array )
            print ()
            print ( "Type 6 for exit" )


        elif choice == "5":
            print ( "Bienvenido al Juego Del Ahorcado " )
            import time

            nombre = input ( "Cual es su nombre?  " )
            print ( "Hola" + "", nombre, "" "Juguemos" )
            print ( "" )
            time.sleep ( 1 )
            print ( "Adivina que palabra es " )
            time.sleep ( 1.5 )
            palabra = "colones"
            tupalabra = ""
            vidas = 4
            while vidas > 0:
                fallas = 0
                for letra in palabra:
                    if letra in tupalabra:
                        print ( letra, end="" )
                    else:
                        print ( "_", end="" )
                        fallas += 1
                if fallas == 0:
                    print ( "Felicidades Gano el Juego" )
                    break
                tuletra = input ( "Introduce una letra: " )
                tupalabra += tuletra

                if tuletra not in palabra:
                    vidas -= 1
                    print ( "Letra erronea" )
                    print ( "Le Quedan", +vidas, "Vidas" )
                if vidas == 0:
                    print ( "Perdiste" )
            else:
                print ( "Gracias por participar " )

            print ( "Type 6 for exit" )

        elif choice == "6":
            print ()
            print ( "-------Thank you for being part of FideBank, have a good day-------" )
##########################################################################################################################################
############################# CODIGO INTENTOS ################################  
import os.path
import rand as rand
import numpy as np
import Login
import Menu
archivo= open("FidebankLogbook.txt","w")
def ATTEMPTS():
    bandera = 0
    while (bandera < 3):
        if (Login.log () == False):
            bandera = bandera + 1
        else:
            print ()
            print ( "Welcome to Fidelitas Bank" )
            with open ( "Data FideBank .txt" ) as data123:
                lectura = data123.read ()
                print ( lectura )
                Menu.Menu ()
                archivo.close ()
            break
