print("Welcome to the Fidelitas Bank")
print()
usuario = "estudiante123"
contrasena = "fide123"
for i in range ( 3 ):
    user = input ( "Please enter the User to access: " )
    entrada = input ( "Please enter the password to access: " )
    if entrada != contrasena or user != usuario:
        print()
        print("Incorrect access information, Try again")
    if entrada == contrasena and user == usuario:
        break

if entrada == contrasena:
    print()
    print ( "Welcome to Fidelitas Bank" )
    with open ( "Data FideBank .txt" ) as data123:
        lectura = data123.read()
        print(lectura)

    choice = ""

    while True:
        print ( "1) SINPE Transfer" )
        print ( "2) Phone Top-Up" )
        print ( "3) Deposit" )
        print ( "4) Balance" )
        print ( "5) Quit" )
        print ()
        choice = input ( "Enter your Choice: " )
        balance = 17800.42

        if choice == "1":
            print ()
            phone = input ( "Enter The Cell Phone Number: " )
            phoneamount = float ( input ( "Select the amount you want to transfer: $" ) )
            print()
            print("-------Successful SINPE Transaction-------")
            print()
            break
        elif choice== "2":
            print ()
            cellphone = input ( "Enter The Cell Phone Number: " )
            phoneamount = float ( input ( "Select the amount you want to recharge: $" ) )
            print ()
            print ( "-------Successful Top-Up to the phone number",cellphone,"-------")
            print ()
            break
        elif choice== "3":
            print ()
            newbalance= float ( input ( "Select the amount you want to Deposit: $" ) )
            print ()
            print ( "-------Successful Deposit, The new balance is $",newbalance + balance,"-------")
            print ()
            break
        elif choice== "4":
            print ()
            print ( "-------Your balance is $",balance,"-------")
            print ()
            break
        elif choice== "5":
            print ()
            print ( "-------Thank you for being part of FideBank, have a good day-------")
            print ()
            break
else:
    print()
    print ( "Incorrect access information, Maximum attempts reached, Blocked account" )
